
<% @shops.each do |shop| %>
  <% if !shop[:name].blank? %>
  <h3><%= link_to shop[:name], shop[:url], target: :_blank %></h3>
  <% end %>
  <% if !shop[:image1].blank? %>
  <img src= <%= shop[:image1] %> width="150" height="150" >
  <% end %>
  <% if !shop[:image2].blank? %>
  <img src= <%= shop[:image2] %> width="150" height="150" >
  <% end %>
  <p><b>営業時間:</b> <%= shop[:opentime] %></p>
  <p><b>定休日</b>: <%= shop[:holiday] %></p>
  <hr>
<% end %>
