<nav class="navbar is-fixed-top">
<section class="hero is-info">
      <div class="container">
        <h1><%= link_to "めしタイム", root_path, :style=>"text-decoration:none;", :class=>"title"%></h1>
    </div>
  </section>
</nav>

<div class="hero-body">
<h1>検索結果</h1>
<%= @error %>
<% @shops.each do |shop| %>
  <h3><%= link_to shop[:name], shop[:url], target: :_blank %></h3>
  <% if !shop[:image1].blank? %>
  <img src= <%= shop[:image1] %> width="150" height="150" >
  <% end %>
  <% if !shop[:image2].blank? %>
  <img src= <%= shop[:image2] %> width="150" height="150" >
  <% end %>
  <p>営業時間: <%= shop[:opentime] %></p>
  <p>定休日: <%= shop[:holiday] %></p>
  <hr>
<% end %>
</div>
<footer>
<%= paginate @shops %><br><br>
</footer>
