<h2>検索結果</h2>

<% require 'open-uri' %>
<% require 'json' %>
<% require 'active_support' %>
<% require 'active_support/core_ext' %>


<% uri = "https://api.gnavi.co.jp/RestSearchAPI/20171213/" %>
<% access_key = "ccc63d521a9a655af2cb7768d29aac36" %>
<% url = uri << "?keyid=" << access_key << "&hit_per_page=100"  << "&freeword=" << @keyword %>
<% url = URI.encode url %>
<% json = open(url) %>
<% hash = Hash.from_xml json %>
<% shops = [] %>

<% if hash.has_key?("response") %>
  <% hash["response"]["rest"].each do |shop| %>
    <p><%= link_to shop["name"], shop["url"], target: :_blank %></p>
    <% if !shop["image_url"]["shop_image1"].blank? %>
      <img src= <%= shop["image_url"]["shop_image1"] %> width="20%" height="20%">
    <% end %>
    <% if !shop["image_url"]["shop_image2"].blank? %>
    <img src= <%= shop["image_url"]["shop_image2"] %> width="20%" height="20%">
    <% end %>
    <p>営業時間:<%= shop["opentime"] %></p>
    <p>定休日:<%= shop["holiday"] %></p>
    <hr>
    <% end %>
<% elsif hash.has_key?("gnavi") %>
  <% if hash["gnavi"].has_key?("error") %>
      <% if hash["gnavi"]["error"]["code"] == "600" %>
        <p>該当する店舗の情報が存在しません</p>
      <% end %>
  <% end %>
<% else  %>
  <p>エラーが発生しました</p>
<% end %>
