<h1>検索結果</h1>
<%= @error %>
<% @shops.each do |shop| %>
  <h3><%= link_to shop[:name], shop[:url], target: :_blank %></h3>
  <% if !shop[:image1].blank? %>
  <img src= <%= shop[:image1] %> width="200" height="200" >
  <% end %>
  <% if !shop[:image2].blank? %>
  <img src= <%= shop[:image2] %> width="200" height="200" >
  <% end %>
  <p>営業時間: <%= shop[:opentime] %></p>
  <p>定休日: <%= shop[:holiday] %></p>
  <hr>
<% end %>
<h3><footer><%= paginate @shops %></footer></h3>
